
USE [ConferenceOrganizationSystem]
GO
/****** Object:  Table [dbo].[Activity]    Script Date: 25.09.2023 8:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Activity](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[DayNumber] [int] NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[IdModerator] [int] NOT NULL,
	[IdEvent] [int] NOT NULL,
 CONSTRAINT [PK_Activity] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ActivityJurie]    Script Date: 25.09.2023 8:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActivityJurie](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdActivity] [int] NOT NULL,
	[IdJurie] [int] NOT NULL,
 CONSTRAINT [PK_ActivityJurie] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[City]    Script Date: 25.09.2023 8:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Photo] [nvarchar](50) NULL,
	[Name] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 25.09.2023 8:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NameRus] [nvarchar](max) NOT NULL,
	[NameEn] [nvarchar](max) NOT NULL,
	[CodeLetter] [nchar](2) NOT NULL,
	[CodeDigit] [int] NOT NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Direction]    Script Date: 25.09.2023 8:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Direction](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Direction] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Event]    Script Date: 25.09.2023 8:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Event](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Date] [date] NOT NULL,
	[Days] [int] NOT NULL,
	[IdCity] [int] NOT NULL,
	[IdDirection] [int] NOT NULL,
	[Photo] [nvarchar](150) NULL,
 CONSTRAINT [PK_Event] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventWinner]    Script Date: 25.09.2023 8:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventWinner](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdEvent] [int] NOT NULL,
	[IdWinner] [int] NOT NULL,
 CONSTRAINT [PK_EventWinner] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistoryOfUsing]    Script Date: 25.09.2023 8:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoryOfUsing](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdUser] [int] NOT NULL,
	[DateStart] [date] NOT NULL,
 CONSTRAINT [PK_HistoryOfUsing] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jurie]    Script Date: 25.09.2023 8:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jurie](
	[Id] [int] NOT NULL,
	[IdDirection] [int] NOT NULL,
 CONSTRAINT [PK_Jurie] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Moderator]    Script Date: 25.09.2023 8:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Moderator](
	[Id] [int] NOT NULL,
	[IdDirection] [int] NOT NULL,
	[IdEvent] [int] NOT NULL,
 CONSTRAINT [PK_Moderators] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Organizator]    Script Date: 25.09.2023 8:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organizator](
	[Id] [int] NOT NULL,
 CONSTRAINT [PK_Organizator] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Participant]    Script Date: 25.09.2023 8:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Participant](
	[Id] [int] NOT NULL,
 CONSTRAINT [PK_Participant] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 25.09.2023 8:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 25.09.2023 8:38:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nname] [nvarchar](100) NOT NULL,
	[Fname] [nvarchar](100) NOT NULL,
	[Patronomic] [nvarchar](100) NULL,
	[Gender] [nchar](7) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[DateOfBirthday] [date] NOT NULL,
	[IdCountry] [int] NOT NULL,
	[Phone] [nchar](17) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Photo] [nvarchar](50) NULL,
	[IdRole] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Activity] ON 

INSERT [dbo].[Activity] ([Id], [Name], [DayNumber], [StartTime], [IdModerator], [IdEvent]) VALUES (1, N'Лидерство в бизнесе', 1, CAST(N'09:00:00' AS Time), 1, 3)
INSERT [dbo].[Activity] ([Id], [Name], [DayNumber], [StartTime], [IdModerator], [IdEvent]) VALUES (2, N'Технология принятия решений', 2, CAST(N'10:45:00' AS Time), 2, 3)
INSERT [dbo].[Activity] ([Id], [Name], [DayNumber], [StartTime], [IdModerator], [IdEvent]) VALUES (3, N'Искусство коучинга', 2, CAST(N'12:30:00' AS Time), 3, 3)
SET IDENTITY_INSERT [dbo].[Activity] OFF
GO
SET IDENTITY_INSERT [dbo].[ActivityJurie] ON 

INSERT [dbo].[ActivityJurie] ([Id], [IdActivity], [IdJurie]) VALUES (1, 1, 25)
INSERT [dbo].[ActivityJurie] ([Id], [IdActivity], [IdJurie]) VALUES (2, 2, 30)
INSERT [dbo].[ActivityJurie] ([Id], [IdActivity], [IdJurie]) VALUES (3, 3, 30)
GO
SET IDENTITY_INSERT [dbo].[ActivityJurie] OFF
GO
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([Id], [Photo], [Name]) VALUES (1, N'', N'Абаза')
INSERT [dbo].[City] ([Id], [Photo], [Name]) VALUES (2, N'', N'Абакан')
INSERT [dbo].[City] ([Id], [Photo], [Name]) VALUES (3, N'', N'Абдулино')
GO
SET IDENTITY_INSERT [dbo].[City] OFF
GO
SET IDENTITY_INSERT [dbo].[Country] ON 

INSERT [dbo].[Country] ([Id], [NameRus], [NameEn], [CodeLetter], [CodeDigit]) VALUES (1, N'Абхазия', N'Abkhazia', N'AB', 895)
INSERT [dbo].[Country] ([Id], [NameRus], [NameEn], [CodeLetter], [CodeDigit]) VALUES (2, N'Австралия', N'Australia', N'AU', 36)
INSERT [dbo].[Country] ([Id], [NameRus], [NameEn], [CodeLetter], [CodeDigit]) VALUES (3, N'Австрия', N'Austria', N'AT', 40)
GO
SET IDENTITY_INSERT [dbo].[Country] OFF
GO
SET IDENTITY_INSERT [dbo].[Direction] ON 

INSERT [dbo].[Direction] ([Id], [Name]) VALUES (1, N'ИТ')
INSERT [dbo].[Direction] ([Id], [Name]) VALUES (2, N'Биг Дата')
INSERT [dbo].[Direction] ([Id], [Name]) VALUES (3, N'Дизайн')
SET IDENTITY_INSERT [dbo].[Direction] OFF
GO
SET IDENTITY_INSERT [dbo].[Event] ON 

INSERT [dbo].[Event] ([Id], [Name], [Date], [Days], [IdCity], [IdDirection], [Photo]) VALUES (1, N'Всероссийский хакатон neuromedia 2017 по разработке продуктов на стыке информационных технологий, медиа и нейронных сетей ', CAST(N'2022-10-26' AS Date), 1, 34, 1, N'1.jpeg')
INSERT [dbo].[Event] ([Id], [Name], [Date], [Days], [IdCity], [IdDirection], [Photo]) VALUES (2, N'Встреча #3 клуба ITBizRadio на тему:  «уборка» — выкидываем ненужные навыки, инструменты и ограничения» ', CAST(N'2022-07-14' AS Date), 3, 34, 2, N'2.jpeg')
INSERT [dbo].[Event] ([Id], [Name], [Date], [Days], [IdCity], [IdDirection], [Photo]) VALUES (3, N'Встреча клуба «Leader stories»: Мотивирующее руководство ', CAST(N'2023-11-09' AS Date), 2, 2, 3, N'3.jpeg')
SET IDENTITY_INSERT [dbo].[Event] OFF
GO
SET IDENTITY_INSERT [dbo].[EventWinner] ON 

INSERT [dbo].[EventWinner] ([Id], [IdEvent], [IdWinner]) VALUES (1, 3, 32)
INSERT [dbo].[EventWinner] ([Id], [IdEvent], [IdWinner]) VALUES (2, 5, 33)
INSERT [dbo].[EventWinner] ([Id], [IdEvent], [IdWinner]) VALUES (3, 8, 34)
SET IDENTITY_INSERT [dbo].[EventWinner] OFF
GO
INSERT [dbo].[Jurie] ([Id], [IdDirection]) VALUES (22, 4)
INSERT [dbo].[Jurie] ([Id], [IdDirection]) VALUES (23, 4)
INSERT [dbo].[Jurie] ([Id], [IdDirection]) VALUES (24, 1)
GO
INSERT [dbo].[Moderator] ([Id], [IdDirection], [IdEvent]) VALUES (1, 1, 1)
INSERT [dbo].[Moderator] ([Id], [IdDirection], [IdEvent]) VALUES (2, 1, 2)
INSERT [dbo].[Moderator] ([Id], [IdDirection], [IdEvent]) VALUES (3, 3, 3)
GO
INSERT [dbo].[Organizator] ([Id]) VALUES (52)
INSERT [dbo].[Organizator] ([Id]) VALUES (53)
INSERT [dbo].[Organizator] ([Id]) VALUES (54)
GO
INSERT [dbo].[Participant] ([Id]) VALUES (32)
INSERT [dbo].[Participant] ([Id]) VALUES (33)
INSERT [dbo].[Participant] ([Id]) VALUES (34)
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([Id], [Name]) VALUES (1, N'Moderator')
INSERT [dbo].[Role] ([Id], [Name]) VALUES (2, N'Jurie')
INSERT [dbo].[Role] ([Id], [Name]) VALUES (3, N'Organizator')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [Nname], [Fname], [Patronomic], [Gender], [Email], [DateOfBirthday], [IdCountry], [Phone], [Password], [Photo], [IdRole]) VALUES (1, N'Царева', N'Виктория', N'Давидовна', N'женский', N'iunhxq41tgr5@tutanota.com', CAST(N'1988-07-03' AS Date), 33, N'+7(567)-103-73-32', N'FYi396Dd5u', N'foto9.jpg ', 1)
INSERT [dbo].[User] ([Id], [Nname], [Fname], [Patronomic], [Gender], [Email], [DateOfBirthday], [IdCountry], [Phone], [Password], [Photo], [IdRole]) VALUES (2, N'Зорин', N'Дмитрий', N'Маркович', N'мужской', N'ofdt4z1bijq0@tutanota.com', CAST(N'1993-09-07' AS Date), 57, N'+7(779)-644-01-06', N'7gi7E8K4Ng', N'foto10.jpg', 1)
INSERT [dbo].[User] ([Id], [Nname], [Fname], [Patronomic], [Gender], [Email], [DateOfBirthday], [IdCountry], [Phone], [Password], [Photo], [IdRole]) VALUES (3, N'Зотова', N'Анна', N'Тимуровна', N'женский', N'ac6yxzg7rl5k@mail.com', CAST(N'1990-09-21' AS Date), 11, N'+7(488)-643-19-98', N'3L3eA5eEg3', N'foto8.jpg ', 1)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Activity]  WITH CHECK ADD  CONSTRAINT [FK_Activity_Event] FOREIGN KEY([IdEvent])
REFERENCES [dbo].[Event] ([Id])
GO
ALTER TABLE [dbo].[Activity] CHECK CONSTRAINT [FK_Activity_Event]
GO
ALTER TABLE [dbo].[Activity]  WITH CHECK ADD  CONSTRAINT [FK_Activity_User] FOREIGN KEY([IdModerator])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Activity] CHECK CONSTRAINT [FK_Activity_User]
GO
ALTER TABLE [dbo].[ActivityJurie]  WITH CHECK ADD  CONSTRAINT [FK_ActivityJurie_Activity] FOREIGN KEY([IdActivity])
REFERENCES [dbo].[Activity] ([Id])
GO
ALTER TABLE [dbo].[ActivityJurie] CHECK CONSTRAINT [FK_ActivityJurie_Activity]
GO
ALTER TABLE [dbo].[ActivityJurie]  WITH CHECK ADD  CONSTRAINT [FK_ActivityJurie_User] FOREIGN KEY([IdJurie])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[ActivityJurie] CHECK CONSTRAINT [FK_ActivityJurie_User]
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD  CONSTRAINT [FK_Event_City] FOREIGN KEY([IdCity])
REFERENCES [dbo].[City] ([Id])
GO
ALTER TABLE [dbo].[Event] CHECK CONSTRAINT [FK_Event_City]
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD  CONSTRAINT [FK_Event_Direction] FOREIGN KEY([IdDirection])
REFERENCES [dbo].[Direction] ([Id])
GO
ALTER TABLE [dbo].[Event] CHECK CONSTRAINT [FK_Event_Direction]
GO
ALTER TABLE [dbo].[EventWinner]  WITH CHECK ADD  CONSTRAINT [FK_EventWinner_Event] FOREIGN KEY([IdEvent])
REFERENCES [dbo].[Event] ([Id])
GO
ALTER TABLE [dbo].[EventWinner] CHECK CONSTRAINT [FK_EventWinner_Event]
GO
ALTER TABLE [dbo].[EventWinner]  WITH CHECK ADD  CONSTRAINT [FK_EventWinner_User] FOREIGN KEY([IdWinner])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[EventWinner] CHECK CONSTRAINT [FK_EventWinner_User]
GO
ALTER TABLE [dbo].[HistoryOfUsing]  WITH CHECK ADD  CONSTRAINT [FK_HistoryOfUsing_User] FOREIGN KEY([IdUser])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[HistoryOfUsing] CHECK CONSTRAINT [FK_HistoryOfUsing_User]
GO
ALTER TABLE [dbo].[Jurie]  WITH CHECK ADD  CONSTRAINT [FK_Jurie_User] FOREIGN KEY([Id])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Jurie] CHECK CONSTRAINT [FK_Jurie_User]
GO
ALTER TABLE [dbo].[Moderator]  WITH CHECK ADD  CONSTRAINT [FK_Moderators_Direction] FOREIGN KEY([IdDirection])
REFERENCES [dbo].[Direction] ([Id])
GO
ALTER TABLE [dbo].[Moderator] CHECK CONSTRAINT [FK_Moderators_Direction]
GO
ALTER TABLE [dbo].[Moderator]  WITH CHECK ADD  CONSTRAINT [FK_Moderators_Event1] FOREIGN KEY([IdEvent])
REFERENCES [dbo].[Event] ([Id])
GO
ALTER TABLE [dbo].[Moderator] CHECK CONSTRAINT [FK_Moderators_Event1]
GO
ALTER TABLE [dbo].[Moderator]  WITH CHECK ADD  CONSTRAINT [FK_Moderators_User] FOREIGN KEY([Id])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Moderator] CHECK CONSTRAINT [FK_Moderators_User]
GO
ALTER TABLE [dbo].[Organizator]  WITH CHECK ADD  CONSTRAINT [FK_Organizator_User] FOREIGN KEY([Id])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Organizator] CHECK CONSTRAINT [FK_Organizator_User]
GO
ALTER TABLE [dbo].[Participant]  WITH CHECK ADD  CONSTRAINT [FK_Participant_User] FOREIGN KEY([Id])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Participant] CHECK CONSTRAINT [FK_Participant_User]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Country] FOREIGN KEY([IdCountry])
REFERENCES [dbo].[Country] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Country]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([IdRole])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD  CONSTRAINT [CK_Event_Days] CHECK  (([Days]>(0)))
GO
ALTER TABLE [dbo].[Event] CHECK CONSTRAINT [CK_Event_Days]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [CK_User_Email] CHECK  (([Email] like '%@%.%'))
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [CK_User_Email]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [CK_User_Gender] CHECK  (([Gender]='женский' OR [Gender]='мужской'))
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [CK_User_Gender]
GO
USE [master]
GO
